.container {
  padding: 0 15px; }

@keyframes borderWidth {
  from {
    width: 0; }

  to {
    width: 28.5%; } }

@-moz-keyframes borderWidth {
  from {
    width: 0; }

  to {
    width: 28.5%; } }

@-webkit-keyframes borderWidth {
  from {
    width: 0; }

  to {
    width: 28.5%; } }

@-ms-keyframes borderWidth {
  from {
    width: 0; }

  to {
    width: 28.5%; } }

@-o-keyframes borderWidth {
  from {
    width: 0; }

  to {
    width: 28.5%; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.container-fluid.top-bar {
  border-bottom: 1px solid #eee;
  font-size: 0.92857em;
  padding: 0.9em 15px; }
  .container-fluid.top-bar .row {
    color: #424242;
    text-align: right; }
    .container-fluid.top-bar .row span a {
      color: inherit; }
.container-fluid.banner {
  border-bottom: 1.14286em solid #51b4b1;
  height: 700px;
  overflow: hidden;
  position: relative; }
  .container-fluid.banner .border {
    -webkit-animation: borderWidth 2s;
    -moz-animation: borderWidth 2s;
    -ms-animation: borderWidth 2s;
    -o-animation: borderWidth 2s;
    animation: borderWidth 2s;
    background-color: #9b8d84;
    background-color: rgba(155, 141, 132, 0.3);
    height: 2px;
    position: absolute;
    top: 293px;
    width: 28.5%;
    z-index: 2; }
    .container-fluid.banner .border.right {
      left: 0; }
    .container-fluid.banner .border.left {
      right: 0; }
  .container-fluid.banner h1.slide-heading {
    -moz-animation: fadein 1s ease-in 1s forwards;
    -webkit-animation: fadein 1s ease-in 1s forwards;
    -o-animation: fadein 1s ease-in 1s forwards;
    animation: fadein 1s ease-in 1s forwards;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 5.14286em;
    margin: 3.61111em 0 0 -15px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2; }
  .container-fluid.banner img {
    margin-left: -960px;
    position: absolute;
    left: 50%;
    z-index: 1; }

.navbar {
  margin-bottom: 0; }

.navbar-collapse {
  overflow-x: hidden;
  padding: 0; }

.navbar-default {
  border: 0; }
  .navbar-default .navbar-brand {
    background: url(../img/BennettLogo.png) no-repeat;
    display: block;
    font-size: 1em;
    height: 1.71429em;
    margin-top: 1.28571em;
    margin-left: 0 !important;
    padding: 0;
    text-indent: -100%;
    width: 26.42857em; }
  .navbar-default .navbar-nav li {
    font-size: 1em;
    text-transform: uppercase; }
    .navbar-default .navbar-nav li.active a {
      border-bottom: 2px solid #bd1c2c; }
      .navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav li.active a:focus {
        background-color: #eee; }
    .navbar-default .navbar-nav li a {
      box-sizing: border-box;
      background-color: #fff;
      line-height: 38px;
      height: 68px;
      padding: 15px 1.07143em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
        background-color: #eee; }

@media (max-width: 1200px) {
  .navbar-default .navbar-brand {
    background: url(../img/BennettLogo-smaller.png) no-repeat;
    height: 1.42857em;
    margin-top: 1.71429em;
    width: 21.42857em; }
  .navbar-default .navbar-nav li a {
    padding: 15px 0.7em; } }

@media (min-width: 992px) {
  .container {
    padding: 0; }
  .navbar-default .navbar-nav {
    float: right;
    margin-right: -15px; }
    .navbar-default .navbar-nav li.active a {
      background-color: #fff; } }

@media (max-width: 992px) {
  .container {
    width: 100%; }
  .container-fluid.banner {
    height: auto;
    padding: 0; }
    .container-fluid.banner img {
      height: auto;
      left: 0;
      position: relative;
      margin-left: 0;
      width: 100%; }
  .navbar-default .navbar-brand {
    margin-top: 1.07143em;
    margin-left: 15px !important; }
  .navbar-default .navbar-collapse {
    max-height: auto; }
  .navbar-default .navbar-nav {
    margin: 0; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .navbar-default .navbar-brand {
    background: url(../img/BennettLogo2x.png) no-repeat;
    background-size: 200px 13px;
    height: 13px;
    margin-top: 18px;
    width: 200px; } }
