@import "bootstrap/_variables.scss";

.container {
	padding: 0 15px;
}

@keyframes borderWidth {
    from { width: 0; }
    to   { width: 28.5%; }
}

@-moz-keyframes borderWidth {
    from { width: 0; }
    to   { width: 28.5%; }
}

@-webkit-keyframes borderWidth {
    from { width: 0; }
    to   { width: 28.5%; }
}

@-ms-keyframes borderWidth {
    from { width: 0; }
    to   { width: 28.5%; }
}​

@-o-keyframes borderWidth {
    from { width: 0; }
    to   { width: 28.5%; }
}​

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.container-fluid {
	&.top-bar {
		border-bottom: 1px solid #eee;
		font-size: .92857143em;
		padding: .9em 15px;
		.row {
			color: #424242;
			text-align: right;
			span {
				a {
					color: inherit;
				}
			}
		}
	}
	&.banner {
		border-bottom: 1.14285714em solid #51b4b1;
		height: 700px;
		overflow: hidden;
		position: relative;
		.border {
			-webkit-animation: borderWidth 2s;
	        -moz-animation: borderWidth 2s;
	        -ms-animation: borderWidth 2s;
	        -o-animation: borderWidth 2s;
	        animation: borderWidth 2s;
			background-color: #9b8d84;
			background-color: rgba(155,141,132, .3);
			height: 2px;
			position: absolute;
			top: 293px;
			width: 28.5%;
			z-index: 2;
			&.right {
				left: 0;
			}
			&.left {
				right: 0;
			}
		}
		h1 {
			&.slide-heading {
				-moz-animation: fadein 1s ease-in 1s forwards;
			    -webkit-animation: fadein 1s ease-in 1s forwards;
			    -o-animation: fadein 1s ease-in 1s forwards;
			    animation: fadein 1s ease-in 1s forwards;
				color: #fff;
				font-family: 'Cinzel', serif;
				font-size: 5.14285714em;
				margin: 3.61111111em 0 0 -15px;
				opacity: 0;
				position: absolute;
				text-align: center;
				width: 100%;
				z-index: 2;
			}
		}
		img {
			margin-left: -960px;
			position: absolute;
			left: 50%;
			z-index: 1;
		}
	}
}

.navbar {
	margin-bottom: 0;
}

.navbar-collapse {
	overflow-x: hidden;
	padding: 0;
}

.navbar-default {
	border: 0;
	.navbar-brand {
		background: url(../img/BennettLogo.png) no-repeat;
		display: block;
		font-size: 1em;
		height: 1.71428571em;
		margin-top: 1.28571429em;
		margin-left: 0 !important;
		padding: 0;
		text-indent: -100%;
		width: 26.4285714em;
	}

	.navbar-nav {
		li {
			&.last {
				a {
				}
			}
			&.active {
				a {
					border-bottom: 2px solid #bd1c2c;
					&:hover,
		      		&:focus {
		      			background-color: #eee;
		      		}
				}
			}
			font-size: 1em;
			text-transform: uppercase;
			a {
				box-sizing: border-box;
				background-color: #fff;
				line-height: 38px;
				height: 68px;
				padding: 15px 1.07142857em;
				-webkit-transition: all .3s;
			    -moz-transition: all .3s;
			    -ms-transition: all .3s;
			    -o-transition: all .3s;
			    transition: all .3s;
	      		&:hover,
	      		&:focus {
	      			background-color: #eee;
	      		}
			}
		}
	}
}

@media (max-width: $screen-lg-min)
{
	.navbar-default {
		.navbar-brand {
			background: url(../img/BennettLogo-smaller.png) no-repeat;
			height: 1.42857143em;
			margin-top: 1.71428571em;
			width: 21.4285714em;
		}
		.navbar-nav {
			li {
				a {
					padding: 15px .7em;
				}
			}
		}
	}
}

@media (min-width: $screen-md-min)
{
	.container {
		padding: 0;
	}
	.navbar-default {
		.navbar-brand {

		}
		.navbar-nav {
			float: right;
			margin-right: -15px;
			li {
				&.active {
					a {
						background-color: #fff;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md-min)
{
	.container {
		width: 100%;
	}

	.container-fluid {
		&.banner {
			height: auto;
			padding: 0;
			img {
				height: auto;
				left: 0;
				position: relative;
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.navbar-default {
		.navbar-brand {
			margin-top: 1.07142857em;
			margin-left: 15px !important;
		}
		.navbar-collapse {
			max-height: auto;
		}
		.navbar-nav {
			margin: 0;
			li {
				a {
				}
			}
			.active {

			}
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

  .navbar-default {
		.navbar-brand {
			background: url(../img/BennettLogo2x.png) no-repeat;
			background-size: 200px 13px;
			height: 13px;
			margin-top: 18px;
			width: 200px;
		}
	}
}